<a href="https://colab.research.google.com/github/Technocoder7/DataScience/blob/main/SIA_2103_DATA_ANALYSIS_AND_SIMULATION_GROUP_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#       **SIA 2013 DATA ANALYSIS AND SIMULATION GROUP ASSIGNMENT 2**

---

GROUP MEMBERS:
1. HADEBE SANELE            N02132677F
2. KHUMALO THANDEKA         N02132964E
3. PANDENI THANDEKA         N02126010N
4. MAKUMBE BOAZ             N02126854B
5. DUBE PRESUMPTION S       N02131379B
6. SIBANDA WILSON           N02132460D
7. MARAMBA ALLAN            N02124201T
8. ZENDA SAMANTHA G         N02126371F
9. NYOKA ISHEANOPA          N021

#### Question 2: For this exercise, you can find the data in datasets/algebradata.csv. Frank Mulligrew is the algebra coordinator for Washington, DC public schools. He is required by the school board to gather some statistics. Using the information about his class, calculate the following:
1. Percentage of students with a passing grade
2. Percentage of women with a passing grade
3. Average hours of study for all students
4. Average hours of study for students with a passing grade

In [65]:
#import the required molules or libraries
import pandas as pd

In [66]:
#Loading the dataset
url = 'https://raw.githubusercontent.com/Apress/learn-data-analysis-w-python/master/datasets/algebradata.csv'
data = pd.read_csv(url)

#Check if the data loaded successfully
data.head()

     Fname     Lname Gender Grade  Hours of Study
0     Mary  Ettienne      F     B              16
1  Charles    Looner      M     F               8
2    Betty  Franklin      F     A              24
3    Roger   Withers      M     C               5
4     John   Mulgrew      M     A               5

1. Percentage of students with a passing grade:

In [67]:
#Check the grade symbols available in the dataset
data['Grade'].unique()

array(['B', 'F', 'A', 'C', 'D'], dtype=object)

In [68]:
#First check if there are null values that can affect our calculations
data.isnull().sum()

#Claculating the percentage of those who passed
passed=data[~(data['Grade'] == 'F')].shape[0]
Total = data.shape[0]
passed_percentage = (passed/Total) * 100
print(f"The percentage of student with a passing grade is {round(passed_percentage, 2)}%")

The percentage of student with a passing grade is 91.69%

2. Percentage of women with a passing grade:

In [69]:
#check if different versions of the same gender are used eg M, male or Male, etc
data['Gender'].unique()

array(['F', 'M'], dtype=object)

In [70]:
#Now everything is perfect, so we'll proceed to calculate the number of women  with a passing grade in the dataset
iswoman = data['Gender'] == 'F'
passed = ~(data['Grade']== 'F')
NumberOfwomen_Passed = data[ iswoman & passed].shape[0]
Totalwomen= data[iswoman].shape[0]
Passedwomen_Percentage = (NumberOfwomen_Passed/ Totalwomen) * 100
print(f"{round(Passedwomen_Percentage, 2)}% of the women have a passing grade.")

95.37% of the women have a passing grade.

3. Average hours of study for all students:

In [71]:
AverageStudyHours= data['Hours of Study'].mean()
print(f'Average hours of Study for all students is {round(AverageStudyHours, 2)}hrs')

Average hours of Study for all students is 15.12hrs

4. Average hours of study for students with a passing grade:

In [72]:
PassingGradeAvgStudyHours = data[passed]['Hours of Study'].mean()
print(f"Average hours of study for students with a passing grade is {round(PassingGradeAvgStudyHours, 2)}hrs.")

Average hours of study for students with a passing grade is 15.88hrs.

#### Question 3: You can find the data in the datasets/axisdata file. Carlos Hugens is the sales manager for Axis Auto Sales, a low-cost regional chain of used car lots. Carlos is getting ready for his annual sales meeting and is looking for the best way to improve his sales group’s performance. His data includes the gender, years of experience, sales training, and hours worked per week for each team member. It also includes the average cars sold per month by each salesperson. Find out the following:
1. Average cars sold per month
2. Max cars sold per month
3. Min cars sold per month
4. Average cars sold per month by gender
5. Average hours worked by people selling more than three cars per month
6. Average years of experience
7. Average years of experience for people selling more than three cars per month
8. Average cars sold per month sorted by whether they have had sales training
9. What do you think is the best indicator of whether someone is a good salesperson or not?

In [75]:
#Loading the dataset and checking if loading was successful
url= 'https://raw.githubusercontent.com/Apress/learn-data-analysis-w-python/master/datasets/axisdata.csv'
data = pd.read_csv(url)
data.head()

,Fname,Lname,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold
0,Jada,Walters,F,39,N,3,2
1,Nicole,Henderson,F,46,N,3,6
2,Tanya,Moore,F,42,Y,4,6
3,Ronelle,Jackson,F,38,Y,5,3
4,Brad,Sears,M,33,N,4,2

1. Average cars sold per month:

In [106]:
#data[data['Lname']== 'Johnson']
#data[data['Fname']== 'David']

#Add new column(Fullname)
Fullname = data['Fname'] + " " + data['Lname']
data['Fullname'] = Fullname
data

,Fname,Lname,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold,Fullname
0,Jada,Walters,F,39,N,3,2,Jada Walters
1,Nicole,Henderson,F,46,N,3,6,Nicole Henderson
2,Tanya,Moore,F,42,Y,4,6,Tanya Moore
3,Ronelle,Jackson,F,38,Y,5,3,Ronelle Jackson
4,Brad,Sears,M,33,N,4,2,Brad Sears
...,...,...,...,...,...,...,...,...
994,Victor,Kane,M,22,Y,5,4,Victor Kane
995,Charles,Turner,M,45,N,1,4,Charles Turner
996,August,Franklin,F,34,Y,4,3,August Franklin
997,Victoria,Rogers,F,29,N,5,1,Victoria Rogers
998,Mike,Gerardo,M,20,N,3,3,Mike Gerardo

In [121]:
data2=data.sort_values(['Fullname'])
data2[data2['Fullname'] == 'Aaron Kane']

,Fname,Lname,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold,Fullname
259,Aaron,Kane,M,41,Y,2,6,Aaron Kane
234,Aaron,Kane,M,25,Y,1,5,Aaron Kane

In [124]:
#View Each Sales rep by their years of experience
agg= data.groupby(by='Fullname')
agg.first()

,Fname,Lname,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold
Fullname,,,,,,,
Aaron Adams,Aaron,Adams,M,34,N,2,2
Aaron Baker,Aaron,Baker,M,22,N,2,5
Aaron Ettienne,Aaron,Ettienne,M,46,Y,4,6
Aaron Gerardo,Aaron,Gerardo,M,38,Y,3,4
Aaron Harrison,Aaron,Harrison,M,39,Y,4,4
...,...,...,...,...,...,...,...
india Patterson,india,Patterson,F,23,N,3,4
india Rogers,india,Rogers,F,43,N,4,4
india Rose,india,Rose,F,26,Y,5,4
india Vaughn,india,Vaughn,F,48,Y,2,3
india Withers,india,Withers,F,35,Y,4,5

In [125]:
agg.get_group('Aaron Adams')

,Fname,Lname,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold,Fullname
291,Aaron,Adams,M,34,N,2,2,Aaron Adams
637,Aaron,Adams,M,40,Y,2,6,Aaron Adams

In [136]:
for name, group in agg:
  #print(name)
  print(agg.get_group(name))
  print("")

     Fname  Lname Gender  Hours Worked SalesTraining  Years Experience  \
291  Aaron  Adams      M            34             N                 2
637  Aaron  Adams      M            40             Y                 2

     Cars Sold     Fullname
291          2  Aaron Adams
637          6  Aaron Adams

     Fname  Lname Gender  Hours Worked SalesTraining  Years Experience  \
683  Aaron  Baker      M            22             N                 2

     Cars Sold     Fullname
683          5  Aaron Baker

     Fname     Lname Gender  Hours Worked SalesTraining  Years Experience  \
535  Aaron  Ettienne      M            46             Y                 4

     Cars Sold        Fullname
535          6  Aaron Ettienne

     Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
317  Aaron  Gerardo      M            38             Y                 3

     Cars Sold       Fullname
317          4  Aaron Gerardo

     Fname     Lname Gender  Hours Worked SalesTraining  Years Experience  \
270  Aaron  Harrison      M            39             Y                 4

     Cars Sold        Fullname
270          4  Aaron Harrison

    Fname     Lname Gender  Hours Worked SalesTraining  Years Experience  \
12  Aaron  Isaacson      M            46             Y                 5

    Cars Sold        Fullname
12          5  Aaron Isaacson

     Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
888  Aaron  Jackson      M            40             N                 3

     Cars Sold       Fullname
888          2  Aaron Jackson

     Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
640  Aaron  Johnson      M            42             Y                 3

     Cars Sold       Fullname
640          6  Aaron Johnson

     Fname Lname Gender  Hours Worked SalesTraining  Years Experience  \
234  Aaron  Kane      M            25             Y                 1
259  Aaron  Kane      M            41             Y                 2

     Cars Sold    Fullname
234          5  Aaron Kane
259          6  Aaron Kane

     Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
377  Aaron  Looner      M            29             N                 2

     Cars Sold      Fullname
377          3  Aaron Looner

     Fname     Lname Gender  Hours Worked SalesTraining  Years Experience  \
437  Aaron  Michaels      M            21             Y                 3

     Cars Sold        Fullname
437          5  Aaron Michaels

     Fname  Lname Gender  Hours Worked SalesTraining  Years Experience  \
369  Aaron  Moore      M            45             N                 3

     Cars Sold     Fullname
369          2  Aaron Moore

     Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
747  Aaron  Mulgrew      M            41             N                 2

     Cars Sold       Fullname
747          2  Aaron Mulgrew

     Fname      Lname Gender  Hours Worked SalesTraining  Years Experience  \
834  Aaron  Patterson      M            46             N                 5

     Cars Sold         Fullname
834          4  Aaron Patterson

     Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
300  Aaron  Rogers      M            32             Y                 3

     Cars Sold      Fullname
300          6  Aaron Rogers

     Fname Lname Gender  Hours Worked SalesTraining  Years Experience  \
530  Aaron  Rose      M            44             Y                 1
573  Aaron  Rose      M            25             Y                 2
793  Aaron  Rose      M            23             Y                 1

     Cars Sold    Fullname
530          3  Aaron Rose
573          3  Aaron Rose
793          6  Aaron Rose

     Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
520  Aaron  Turner      M            26             N                 4

     Cars Sold      Fullname
520          5  Aaron Turner

     Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
657  Aaron  Vaughn      M            32             Y                 1

     Cars Sold      Fullname
657          6  Aaron Vaughn

    Fname  Lname Gender  Hours Worked SalesTraining  Years Experience  \
337  Adam  Adams      M            31             Y                 3
773  Adam  Adams      M            22             N                 3

     Cars Sold    Fullname
337          4  Adam Adams
773          1  Adam Adams

    Fname  Lname Gender  Hours Worked SalesTraining  Years Experience  \
979  Adam  Baker      M            36             Y                 2

     Cars Sold    Fullname
979          6  Adam Baker

    Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
322  Adam  Carter      M            22             Y                 2
679  Adam  Carter      M            43             N                 4

     Cars Sold     Fullname
322          5  Adam Carter
679          2  Adam Carter

    Fname     Lname Gender  Hours Worked SalesTraining  Years Experience  \
992  Adam  Harrison      M            42             Y                 4

     Cars Sold       Fullname
992          5  Adam Harrison

    Fname     Lname Gender  Hours Worked SalesTraining  Years Experience  \
231  Adam  Isaacson      M            42             Y                 4

     Cars Sold       Fullname
231          4  Adam Isaacson

    Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
323  Adam  Johnson      M            24             Y                 1
713  Adam  Johnson      M            35             Y                 1

     Cars Sold      Fullname
323          3  Adam Johnson
713          4  Adam Johnson

    Fname Lname Gender  Hours Worked SalesTraining  Years Experience  \
762  Adam  Kane      M            29             Y                 2

     Cars Sold   Fullname
762          5  Adam Kane

    Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
885  Adam  Kennedy      M            27             Y                 4

     Cars Sold      Fullname
885          6  Adam Kennedy

    Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
497  Adam  Looner      M            24             N                 5
549  Adam  Looner      M            43             Y                 3

     Cars Sold     Fullname
497          1  Adam Looner
549          4  Adam Looner

    Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
251  Adam  Monroe      M            30             Y                 2
516  Adam  Monroe      M            30             Y                 4
550  Adam  Monroe      M            27             Y                 5
822  Adam  Monroe      M            42             Y                 2

     Cars Sold     Fullname
251          2  Adam Monroe
516          6  Adam Monroe
550          3  Adam Monroe
822          3  Adam Monroe

    Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
785  Adam  Mulgrew      M            44             Y                 1

     Cars Sold      Fullname
785          3  Adam Mulgrew

    Fname      Lname Gender  Hours Worked SalesTraining  Years Experience  \
540  Adam  Patterson      M            21             N                 1
561  Adam  Patterson      M            46             Y                 3

     Cars Sold        Fullname
540          4  Adam Patterson
561          6  Adam Patterson

    Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
873  Adam  Rogers      M            35             Y                 2

     Cars Sold     Fullname
873          5  Adam Rogers

   Fname Lname Gender  Hours Worked SalesTraining  Years Experience  \
47  Adam  Rose      M            35             Y                 2

    Cars Sold   Fullname
47          3  Adam Rose

    Fname Lname Gender  Hours Worked SalesTraining  Years Experience  \
988  Adam  Sapp      M            37             Y                 2

     Cars Sold   Fullname
988          3  Adam Sapp

    Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
962  Adam  Turner      M            39             Y                 5

     Cars Sold     Fullname
962          3  Adam Turner

    Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
190  Adam  Vaughn      M            22             N                 2
605  Adam  Vaughn      M            40             Y                 1
662  Adam  Vaughn      M            29             Y                 4

     Cars Sold     Fullname
190          4  Adam Vaughn
605          2  Adam Vaughn
662          5  Adam Vaughn

      Fname  Lname Gender  Hours Worked SalesTraining  Years Experience  \
714  August  Baker      F            21             Y                 1

     Cars Sold      Fullname
714          3  August Baker

      Fname     Lname Gender  Hours Worked SalesTraining  Years Experience  \
463  August  Franklin      F            27             Y                 3
996  August  Franklin      F            34             Y                 4

     Cars Sold         Fullname
463          2  August Franklin
996          3  August Franklin

      Fname     Lname Gender  Hours Worked SalesTraining  Years Experience  \
137  August  Harrison      F            24             Y                 1

     Cars Sold         Fullname
137          2  August Harrison

      Fname      Lname Gender  Hours Worked SalesTraining  Years Experience  \
120  August  Henderson      F            28             Y                 2
836  August  Henderson      F            36             N                 4

     Cars Sold          Fullname
120          2  August Henderson
836          2  August Henderson

      Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
691  August  Jackson      F            35             Y                 5
902  August  Jackson      F            24             Y                 5
978  August  Jackson      F            41             Y                 1

     Cars Sold        Fullname
691          5  August Jackson
902          3  August Jackson
978          2  August Jackson

      Fname Lname Gender  Hours Worked SalesTraining  Years Experience  \
123  August  Kane      F            46             N                 3
168  August  Kane      F            40             N                 2

     Cars Sold     Fullname
123          3  August Kane
168          6  August Kane

      Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
991  August  Kennedy      F            25             Y                 3

     Cars Sold        Fullname
991          5  August Kennedy

      Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
733  August  Looner      F            46             Y                 3

     Cars Sold       Fullname
733          7  August Looner

      Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
839  August  Martins      F            44             N                 5
927  August  Martins      F            27             Y                 4

     Cars Sold        Fullname
839          5  August Martins
927          4  August Martins

      Fname     Lname Gender  Hours Worked SalesTraining  Years Experience  \
206  August  Michaels      F            27             N                 5
667  August  Michaels      F            26             Y                 3

     Cars Sold         Fullname
206          3  August Michaels
667          2  August Michaels

      Fname  Lname Gender  Hours Worked SalesTraining  Years Experience  \
318  August  Moore      F            35             Y                 1
446  August  Moore      F            25             Y                 4

     Cars Sold      Fullname
318          5  August Moore
446          3  August Moore

      Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
521  August  Mulgrew      F            27             N                 4

     Cars Sold        Fullname
521          1  August Mulgrew

      Fname      Lname Gender  Hours Worked SalesTraining  Years Experience  \
312  August  Samuelson      F            26             N                 5

     Cars Sold          Fullname
312          4  August Samuelson

      Fname  Lname Gender  Hours Worked SalesTraining  Years Experience  \
574  August  Sears      F            44             Y                 4

     Cars Sold      Fullname
574          5  August Sears

      Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
758  August  Turner      F            29             Y                 4

     Cars Sold       Fullname
758          6  August Turner

      Fname     Lname Gender  Hours Worked SalesTraining  Years Experience  \
622  August  Walters       F            32             N                 3
742  August  Walters       F            29             Y                 3

     Cars Sold         Fullname
622          3  August Walters
742          5  August Walters

      Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
730  August  Withers      F            34             Y                 5

     Cars Sold        Fullname
730          5  August Withers

     Fname  Lname Gender  Hours Worked SalesTraining  Years Experience  \
126  Betty  Adams      F            39             Y                 2

     Cars Sold     Fullname
126          4  Betty Adams

     Fname  Lname Gender  Hours Worked SalesTraining  Years Experience  \
184  Betty  Baker      F            20             N                 2

     Cars Sold     Fullname
184          3  Betty Baker

     Fname     Lname Gender  Hours Worked SalesTraining  Years Experience  \
564  Betty  Davidson      F            37             Y                 4

     Cars Sold        Fullname
564          3  Betty Davidson

     Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
925  Betty  Gerardo      F            28             N                 2

     Cars Sold       Fullname
925          5  Betty Gerardo

     Fname     Lname Gender  Hours Worked SalesTraining  Years Experience  \
708  Betty  Harrison      F            37             Y                 5
734  Betty  Harrison      F            28             Y                 3

     Cars Sold        Fullname
708          3  Betty Harrison
734          3  Betty Harrison

     Fname      Lname Gender  Hours Worked SalesTraining  Years Experience  \
409  Betty  Henderson      F            45             N                 5

     Cars Sold         Fullname
409          5  Betty Henderson

     Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
275  Betty  Jackson      F            25             Y                 1
675  Betty  Jackson      F            40             Y                 4

     Cars Sold       Fullname
275          1  Betty Jackson
675          3  Betty Jackson

     Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
816  Betty  Kennedy      F            30             N                 1

     Cars Sold       Fullname
816          1  Betty Kennedy

    Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
87  Betty  Looner      F            41             Y                 1

    Cars Sold      Fullname
87          6  Betty Looner

     Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
287  Betty  Monroe      F            27             Y                 4

     Cars Sold      Fullname
287          3  Betty Monroe

     Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
959  Betty  Rogers      F            28             N                 3

     Cars Sold      Fullname
959          3  Betty Rogers

     Fname Lname Gender  Hours Worked SalesTraining  Years Experience  \
699  Betty  Rose      F            41             Y                 1

     Cars Sold    Fullname
699          6  Betty Rose

     Fname      Lname Gender  Hours Worked SalesTraining  Years Experience  \
821  Betty  Samuelson      F            27             Y                 5

     Cars Sold         Fullname
821          4  Betty Samuelson

     Fname Lname Gender  Hours Worked SalesTraining  Years Experience  \
361  Betty  Sapp      F            21             Y                 4

     Cars Sold    Fullname
361          1  Betty Sapp

     Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
444  Betty  Turner      F            20             N                 4

     Cars Sold      Fullname
444          2  Betty Turner

     Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
910  Betty  Vaughn      F            22             N                 5

     Cars Sold      Fullname
910          2  Betty Vaughn

     Fname     Lname Gender  Hours Worked SalesTraining  Years Experience  \
471  Betty  Walters       F            27             N                 3

     Cars Sold        Fullname
471          5  Betty Walters

    Fname  Lname Gender  Hours Worked SalesTraining  Years Experience  \
537  Brad  Baker      M            42             Y                 4
597  Brad  Baker      M            27             N                 1
780  Brad  Baker      M            43             Y                 3
950  Brad  Baker      M            44             Y                 3

     Cars Sold    Fullname
537          3  Brad Baker
597          4  Brad Baker
780          7  Brad Baker
950          5  Brad Baker

    Fname   Lname Gender  Hours Worked SalesTraining  Years Experience  \
330  Brad  Carter      M            42             N                 5
608  Brad  Carter      M            37             N                 2

     Cars Sold     Fullname
330          2  Brad Carter
608          4  Brad Carter

    Fname     Lname Gender  Hours Worked SalesTraining  Years Experience  \
258  Brad  Davidson      M            36             Y                 4
449  Brad  Davidson      M            37             N                 4

     Cars Sold       Fullname
258          4  Brad Davidson
449          5  Brad Davidson

    Fname     Lname Gender  Hours Worked SalesTraining  Years Experience  \
673  Brad  Franklin      M            35             Y                 1

     Cars Sold       Fullname
673          4  Brad Franklin

    Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
359  Brad  Gerardo      M            32             N                 5

     Cars Sold      Fullname
359          5  Brad Gerardo

    Fname     Lname Gender  Hours Worked SalesTraining  Years Experience  \
50   Brad  Harrison      M            41             N                 3
189  Brad  Harrison      M            38             Y                 2
531  Brad  Harrison      M            23             N                 4

     Cars Sold       Fullname
50           2  Brad Harrison
189          4  Brad Harrison
531          4  Brad Harrison

    Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
134  Brad  Jackson      M            37             N                 5

     Cars Sold      Fullname
134          2  Brad Jackson

    Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
503  Brad  Johnson      M            23             Y                 3

     Cars Sold      Fullname
503          2  Brad Johnson

    Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
70   Brad  Kennedy      M            20             N                 2
906  Brad  Kennedy      M            21             Y                 4

     Cars Sold      Fullname
70           2  Brad Kennedy
906          2  Brad Kennedy

    Fname    Lname Gender  Hours Worked SalesTraining  Years Experience  \
719  Brad  Martins      M            31             Y                 2

     Cars Sold      Fullname
719          6  Brad Martins

    Fname     Lname Gender  Hours Worked SalesTraining  Years Experience  \
435  Brad  Michaels      M            48             Y                 3